<html>
    <head>
        <title>Add List</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <style>
         .jumbotron
         {
            box-shadow: 0px 0px 10px #00897B;
            background-color: #00897B;
            padding:20px;
            border-radius:15px;
            color:white;
         }
         option {
            filter: hue-rotate(90deg);
         }
        </style>
    </head>
    <body>
    <div class="navbar navbar-inverse navber-fixed-top">
       <center>
           <h3 style="color:white;font-family:cursive;padding:10px;margin-top:0px;">Assista</h3>
       </center>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="jumbotron">
            <h3 align="center"><b>Add List</b></h3>
            <form action="add_list" method="post">
                {% csrf_token %}
            <div class="form-group">
                <label>List Name:</label>
                <input type="text" class="form-control" placeholder="List Name" name="name" required="required" maxlength="20">
            </div>
            <div class="form-group">
                <label>Select Color:</label>
                <select class="form-control" style="width:200px;display:inline-block" name="color">
                    <option style="background-color:orange">Orange</option>
                    <option style="background-color:skyblue">Skyblue</option>
                    <option style="background-color:red">Red</option>
                    <option style="background-color:green">Green</option>
                </select>
            </div>
                <center><input type="submit" class="btn btn-default" value="Add List"></center>
            </form>
        </div>
    </div>
    </body>
</html>